body {
    background-image: url(/src/assets/background.jpg);
    /* background-color: #E0FFFF; */
    background-size: cover; /* Đảm bảo ảnh phủ toàn bộ màn hình */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    background-position: center; /* Căn giữa ảnh */
    min-height: 100vh; /* Đảm bảo nội dung tối thiểu bằng chiều cao màn hình */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
}

.profile-image-container img {
    margin-bottom: 50px; /* Tạo khoảng cách */
}

.profile-button {
    background: rgb(13, 110, 253);
    color: white;
    box-shadow: none;
    border: none;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button.image-button {
    margin-top: 50px; /* Điều chỉnh khoảng cách xuống */
}

.labels {
    font-size: 11px
}

.profile-button {
    background: rgb(13, 110, 253);
    color: white;
    font-weight: 500;
    border: none;
    transition: 0.3s;
}

.profile-button:hover {
    background: rgb(13, 110, 253);
    transform: scale(1.05);
}

.labels {
    font-size: 14px;
    font-weight: 600;
}

.form-control {
    border-radius: 5px;
    padding: 8px;
}

.text-primary {
    font-weight: bold;
}
